@import url("https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Birthstone+Bounce:wght@400;500&display=swap");

:root {
  --font-birthstone: normal 400 12vw "Birthstone Bounce", cursive;
  --font-annie: normal 400 7vw "Annie Use Your Telescope", cursive;

  --color-orange: #f37036;
  --color-gray-dark: #403f3d;
  --color-light: #f8f4ee;
}

/* ELEMENTS */

* {
  cursor: default;
}

body {
  color: var(--color-gray-dark);
  background: url("../../public/svg/flowers.svg");
}

p,
figcaption {
  text-align: center;
  white-space: pre-wrap;
}

figure {
  position: relative;
  margin: 0;
}

img {
  border-radius: 15px;
  max-width: 100%;
  max-height: 100%;
}

figcaption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-wrap: nowrap;
  color: var(--color-orange) !important;
}

span {
  display: block;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  width: 75%;
  display: block;
  margin: auto;
  font-size: 5vw !important;
  border-radius: 15px;
  background-color: rgba(248, 244, 238, 0.1);
}

footer {
  display: block;
  margin: auto;
  margin-top: 15vh;
}

/* CLASSES */

.orange {
  color: var(--color-orange);
}

.divider {
  border-left: 5px solid var(--color-gray-dark);
  height: 15vh;
  margin: 3vh 50%;
}

.qr {
  display: block;
  margin: auto;
  width: 50%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

/* COPY TO CLIPBOARD */
.popup {
  position: absolute;
  left: 50%;
  translate: 45%;
  width: 20vw;
  animation: dissapear 2s forwards;
  border-radius: 10px;
  background-color: var(--color-orange);
  color: var(--color-light);
  font: var(--font-annie);
  font-size: 1.5rem;
  text-align: center;
}

.copy-icon {
  display: block;
  margin: auto;
  cursor: pointer;
  content: url("../../public/svg/Copy.svg");
}

@keyframes dissapear {
  from {
    opacity: 0.75;
    margin-top: 0;
  }
  to {
    opacity: 0;
    margin-top: -150px;
  }
}

/* FONTS */
.birthstone {
  font: var(--font-birthstone);
  color: var(--color-orange);
}

.annie {
  font: var(--font-annie);
  color: var(--color-light);
}

.annie-small {
  font: var(--font-annie);
  color: var(--color-light);
  font-size: 3vh;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

/* IMAGES */
.marriage-photo {
  content: url("../../public/images/marriage-photo.jpg");
}

.qr-link {
  content: url("../../public/svg/qrcode.svg");
}

@media only screen and (min-width: 1000px) {
  body {
    margin: 0 10vw 0 10vw;
  }
}

@media only screen and (max-width: 470px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
